/* Webfont: LatoLatin-Bold */
@font-face {
  font-family: "LatoLatinWeb";
  src:
    url("fonts/LatoLatin-Bold.woff2") format("woff2"),
    url("fonts/LatoLatin-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: "LatoLatinWeb";
  src:
    url("fonts/LatoLatin-Regular.woff2") format("woff2"),
    url("fonts/LatoLatin-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */
@font-face {
  font-family: "LatoLatinWebLight";
  src:
    url("fonts/LatoLatin-Light.woff2") format("woff2"),
    url("fonts/LatoLatin-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
